.multiselect {
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.multiselect_options {
  padding: 6px;
  border: .5px solid #9d9d9d;
  min-height: calc(1em + 6px);
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

}

.multi_option {
  display: flex;
  cursor: default;
  border: #fff solid .5px;
  border-radius: 3px;
  background: #ddd;
  color: #000;
  height: 100%;
  align-items: center;
}

.multi_option_icon {
  padding: 5px;
  border-right: #fff solid .5px;
}

.multi_option_text {
  padding: 5px 10px;
}

.multi_option_icon {
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.multi_option_icon svg {
  max-width: 100%;
  max-height: 100%;
  background-color: #fff;
  border-radius: 50%;
}

.multiselect_dropdown_box {
  display: none;
  position: absolute;
  top: 100%;
  right: 0px;
  left: 0px;
  z-index: 9999;
  background: #fff;
  max-height: 300px;
  overflow-y: scroll;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .10);
}

.multiselect_dropdown_box.active {
  display: block;
}

.multiselect_dropdown {
  padding: 7px 10px;
  border: .5px solid #9d9d9d;
  border-top: none;
  cursor: pointer;


}

.multiselect_dropdown.added {
  background: #ddd;
}

.multiselect_dropdown:hover {
  background: rgb(58, 156, 255);
  color: #fff;
}

.multiselect_dropdown:first-child {
  border-top: .5px solid #9d9d9d;
  /* border-radius: 5px 5px 0px 0px; */
}

.multiselect_dropdown:last-child {
  border-radius: 0px 0px 5px 5px;
}